---
title: Home page
slug: index
handle: index
position: 0
listed: true
published: true
is_layout: false
---
{% extends 'layouts/default' %}

{% block "main" %}
  {% with_scope slug: site.metafields.general.school_slug %}
  {% assign school = shared_contents.schools.first %}
  {% endwith_scope %}

  {% section 'static_content', id: 'top-static' %}

  <div class="columns is-multiline">
  {% with_scope on_home: true, schools.in: [school] %}
  {% for mc in shared_contents.master_courses %}
    <div class="column is-one-quarter">
      <div class="card">
        <div class="card-image">
          <figure class="image is-3by4">
            <img src="{% if mc.image.url is blank %}https://bulma.io/images/placeholders/1280x960.png{% else %}{{ mc.image.url | resize: '800x800#' }}{% endif %}" alt="{{ mc.title }}">
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-4">{{ mc.title }}</p>
            </div>
          </div>
          <div class="content">
            <p>{{ mc.description }}</p>
            <p><a href="{{ school.root_url }}/courses/{{ mc.slug }}">Course details</a></p>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
  {% endwith_scope %}
  </div>

  {% section 'static_content', id: 'bottom-static' %}

{% endblock %}