---
# Name of the section displayed in the editor UI
# (only if keep_name is set to true)
name: Static content

# By default, the first text type setting will be used as
# the name of the section in the editor UI.
# To keep the name of the section instead, uncomment the following line.
# keep_name: true

# Icon of the section in the editor UI
# Values: header, default, slide, text, image_text, list, footer
icon: text

# By default, the first image_picker type setting will be used
# as the icon of the section in the editor UI.
# To keep the icon of the section instead, uncomment the following line.
# keep_icon: true

# Definition of the settings:
# A setting type can be one of the following values: text, image_picker, checkbox, radio, select, url, hint, content_type.
# Please visit: https://doc.locomotivecms.com/docs/json-definition for more explanation.
settings:
- label: "Title"
  id: title
  type: text
  # html: true
  # line_break: true

- label: "Body"
  id: body
  type: text
  html: true
  # line_break: true

# Definition of the blocks.
# You can define as many types of blocks as you want.
blocks: []

# By default, in the editor UI, blocks will be listed below the "Content" title.
# The title can be changed with the following property:
# blocks_label: "My list of items"

# Presets can be seen as different versions of a same section.
# Useless if the section is not aimed to be used along with section_dropzone liquid tag
presets:
  - name: "Static content"
    category: "Category"
    settings:
      title: "Aut esse natus officiis."
      body: "Nihil voluptatibus repellat et."
    blocks: []


---
{% comment %}
Above is the YAML definition of your section. Modify it to match your needs.

To use your section, 2 possibilities:

1. within a dropzone

Make sure that your layouts or your page includes the following liquid tag:

  {% sections_dropzone %}

If you want to test this section in your Wagon site, add the following
lines in the YAML section of any page including the {% sections_dropzone %}
(or inheriting from a layout including it):

sections_dropzone_content:
- type: "static_content"
  settings:
    title: "Earum numquam temporibus facere."
    body: "Consequatur est ipsa tempore."
  blocks: []


2. as stand-alone section

  {% section 'static_content' %}

If you want to test this section in your Wagon site, add the following
lines in the YAML section of the page including the statement above or complete it.

sections_content:
  static_content:
    settings:
      title: "Expedita sed quo voluptatum."
      body: "Ut voluptatem vel ad."
    blocks: []


{% endcomment %}

<div id="{{ section.anchor_id }}" class="static-content-section box" {{ section.locomotive_attributes }}>
  <h3 class="title">{{ section.settings.title }}</h3>
  <div>{{ section.settings.body }}</div>
</div>
