<nav class="navbar is-transparent">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
      <img src="https://bulma.io/images/bulma-logo.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28">
    </a>
    <div class="navbar-burger" data-target="navbarExampleTransparentExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navbarExampleTransparentExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="{% path_to index %}">
        Home
      </a>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link" href="#">
          Schools
        </a>
        <div class="navbar-dropdown is-boxed">
          {% for school in contents.schools %}
          <a class="navbar-item" href="{{ school.root_url }}">
            {{ school.title }}
          </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</nav>